/dts-v1/;
/plugin/;

#include <dt-bindings/clock/qcom,mmcc-msm8996.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	fragment@0 {
		target-path = "/soc";
		__overlay__ {
			camera_front_vdddo: fixedregulator_camera_front@0 {
				compatible = "regulator-fixed";
				regulator-name = "camera_front_vdddo";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
			};

			camera_front_vdda: fixedregulator_camera_front@1 {
				compatible = "regulator-fixed";
				regulator-name = "camera_front_vdda";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-always-on;
			};

			camera_front_vddd: fixedregulator_camera_front@2 {
				compatible = "regulator-fixed";
				regulator-name = "camera_front_vddd";
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <1500000>;
				regulator-always-on;
			};
		};
	};

	fragment@1 {
		target-path = "/soc/cci@a0c000";
		__overlay__ {
			status = "ok";

			camera_front@3a {
				compatible = "ovti,ov5645";
				reg = <0x3a>;

				enable-gpios = <&msmgpio 133 GPIO_ACTIVE_HIGH>;
				reset-gpios = <&msmgpio 23 GPIO_ACTIVE_LOW>;
				pinctrl-names = "default";
				pinctrl-0 = <&camera_front_default>;

				clocks = <&mmcc CAMSS_MCLK2_CLK>;
				clock-names = "xclk";
				clock-frequency = <24000000>;

				vdddo-supply = <&camera_front_vdddo>;
				vdda-supply = <&camera_front_vdda>;
				vddd-supply = <&camera_front_vddd>;

				status = "ok";

				port {
					camera_front_ep: endpoint {
						clock-lanes = <1>;
						data-lanes = <0 2>;
						remote-endpoint = <&csiphy2_ep>;
					};
				};
			};
		};
	};

	fragment@2 {
		target-path = "/soc/camss@a00000";
		__overlay__ {
			status = "ok";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@2 {
					reg = <2>;
					csiphy2_ep: endpoint {
						clock-lanes = <7>;
						data-lanes = <0 1>;
						remote-endpoint = <&camera_front_ep>;
						status = "ok";
					};
				};
			};
		};
	};
};
